* {
  margin: 0;
  box-sizing: border-box;
}


html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1d201f;
}

.overlap {
  position: relative;
  width: 330px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: absolute;
  color: white;
  opacity: 90%;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: none;
  font-family: "Lexend";
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.html {
  background-color: #e76f51;
  top: 0;
  left: 0;
  z-index: 0;
}

.css {
  background-color: #018adf;
  top: 0;
  right: 0;
  z-index: 1;
}

.js {
  background-color: #e9c46a;
  bottom: 0;
  left: 65px;
  z-index: 2;
}

.html:hover,
.css:hover,
.js:hover {
  opacity: 100%;
  z-index: 3;
}